<a href="https://colab.research.google.com/github/abhijithneilabraham/Tensorflow-tryouts/blob/master/California_housing_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import tensorflow as tf
import math
import shutil
from IPython.core import display as ICD

In [3]:
#gonna try simple matrix operations here

a=tf.constant([2,3,4])
b=tf.constant([5,6,7])
c=tf.add(a,b)
#tf.Session creates an environment for evalutaion of the tensor objects
with tf.Session() as sess:
  result = sess.run(c)
  print(result)
  #result is in matrix multiplied form

[ 7  9 11]

In [0]:
df = pd.read_csv("sample_data/california_housing_train.csv", sep=",")
print('Original Dataset:')

In [9]:
ICD.display(df.head(15)) #pandas head displays the first n rows

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0
10,-114.60,33.62,16.0,3741.0,801.0,2434.0,824.0,2.6797,86500.0
11,-114.60,33.60,21.0,1988.0,483.0,1182.0,437.0,1.6250,62000.0
12,-114.61,34.84,48.0,1291.0,248.0,580.0,211.0,2.1571,48600.0
13,-114.61,34.83,31.0,2478.0,464.0,1346.0,479.0,3.2120,70400.0
14,-114.63,32.76,15.0,1448.0,378.0,949.0,300.0,0.8585,45000.0

In [12]:
a=pd.DataFrame(df.isnull().sum())#isnull() detect missing values for an array like object
print(a)

                    0
longitude           0
latitude            0
housing_median_age  0
total_rooms         0
total_bedrooms      0
population          0
households          0
median_income       0
median_house_value  0

In [13]:
a['# of null values'] = a[0] 
b = a[['# of null values']]
print('Before Dropping Null Values:')
print('# of Rows, Columns: ',df.shape)
ICD.display(b)
df = df.dropna(axis=0)  
'''
DataFrame.dropna removes missing values 
'''
a = pd.DataFrame(df.isnull().sum())
a['# of null values'] = a[0]
b = a[['# of null values']]
print('After Dropping Null Values:')
print('# of Rows, Columns: ',df.shape)
ICD.display(b)

Before Dropping Null Values:
# of Rows, Columns:  (17000, 9)

                    # of null values
longitude                          0
latitude                           0
housing_median_age                 0
total_rooms                        0
total_bedrooms                     0
population                         0
households                         0
median_income                      0
median_house_value                 0

After Dropping Null Values:
# of Rows, Columns:  (17000, 9)

                    # of null values
longitude                          0
latitude                           0
housing_median_age                 0
total_rooms                        0
total_bedrooms                     0
population                         0
households                         0
median_income                      0
median_house_value                 0

In [0]:
df['num_rooms'] = df['total_rooms'] / df['households']
df['num_bedrooms'] = df['total_bedrooms'] / df['households']
df['persons_per_house'] = df['population'] / df['households']
df.drop(['total_rooms', 'total_bedrooms', 'population', 'households'], axis = 1, inplace = True)